<%- include ("partials/header.ejs") %>

    <div class="container-home">
        <h1>Reddit Search</h1>

        <form action="/results" method="GET">
            <input class="search-home" type="text" placeholder="Search Your Subreddit" name="sub">
            <button class="btn-home">Search</button>
        </form>
    </div>
    <%- include ("partials/footer.ejs") %>