.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 30px;
    margin: 0;
}

.search-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    width: 25rem;
    height: 3rem;
    border: 3px solid rgba(128, 128, 128, 0.6);
    margin: 0;
    text-indent: 10px;
    border-radius: 8px;
    outline: none;
}

.btn-home {
    display: block;
    width: 100%;
    font-size: 0.7em;
    height: 3rem;
    background-color: #4CAF50;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    margin: 0;
}

@media (max-width:500px) {
    .container-home {
        font-size: 15px;
    }
    .search-home {
        width: 20rem;
        font-size: 1.5em;
    }
    .btn-home {
        font-size: 1.5em;
    }
}