.container-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    width: 75%;
    margin-left: 50px;
}

.post-page {
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #7f7182;
    border: 5px solid rgba(128, 128, 128, 0.8);
    -webkit-box-shadow: 9px 9px 11px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 9px 11px -10px rgba(0, 0, 0, 1);
    box-shadow: 9px 9px 11px -10px rgba(0, 0, 0, 1);
}

.link-page {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link-page:hover {
    text-decoration: underline;
}

.ups {
    display: inline;
    color: darkgreen;
    margin-right: 10px;
}

.img-page {
    overflow: hidden;
}

img {
    max-width: 700px;
    max-height: 500px;
    border-radius: 2px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
}

@media (max-width:600px) {
    img {
        max-width: 250px;
        max-height: 400px;
    }
}