* {
    box-sizing: border-box;
}

body {
    /* background: rgb(25, 89, 223);
    background: linear-gradient(90deg, rgba(25, 89, 223, 1) 0%, rgba(66, 179, 179, 1) 100%, rgba(187, 192, 190, 1) 100%); */
    background-color: #600080;
    font-family: 'Roboto', sans-serif;
}