* {
    box-sizing: border-box;
}

body {
    background: rgb(43, 88, 118);
    background: linear-gradient(90deg, rgba(43, 88, 118, 1) 0%, rgba(78, 67, 118, 1) 100%);
    /* background-color: #600080; */
    font-family: 'Roboto', sans-serif;
}