<%- include ("../partials/header.ejs") %>

    <div class="container-page">


        <h1 class="head">NEW</h1>

        <% child.data.children.forEach(kid => { %>
            <li>
                <%= kid.data.title %>
            </li>
            <% }); %>

    </div>

    <%- include ("../partials/footer.ejs") %>